<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{admin/_fragment :: head(~{::title})}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>博客管理</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/me.css">
</head>

<body>
<!-- 导航 -->
<nav class="ui inverted segment attached m-padding-tb-mini m-shadow-small" th:replace="~{admin/_fragment:: navbar(1)}">
    <div class="ui container"></div>
    <div class="ui inverted secondary menu stackable">
        <h2 class="ui teal header item">管理后台</h2>
        <a href="#" class="a-item item m-mobile-hide active"><i class="mini home icon"></i>&nbsp;博客</a>
        <a href="#" class="a-item item m-mobile-hide "><i class="mini idea icon"></i>分类</a>
        <a href="#" class="a-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
        <div class="right menu m-mobile-hide">
            <div class="ui dropdown item">
                <div class="text">
                    <img src="https://picsum.photos/seed/picsum/100/100" alt="" class="ui avatar image"> Zongyuheng
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a href="#" class="item">注销</a>
                </div>
            </div>
        </div>
    </div>
    </div>
    <a href="#" class="ui black icon button m-top-right m-mobile-show menu toggle">
        <i class="sidebar  icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" th:href="@{/admin/blogs/input}" class="teal  item">发布</a>
            <a href="#" th:href="@{/admin/blogs}" class="item active">列表</a>
        </div>
    </div>
</div>
<!-- 内容主体部分 -->
<input type="hidden" id="currentPage" th:value="${page.getNum()}" name="currentPage">
<input type="hidden" id="numberOfElements" th:value="${page.getNumberOfElements()}">

<!--<input type="hidden" name="" >-->
<!--<input type="hidden" name="" >-->
<!--<input type="hidden" name="" >-->


<div class="m-padding-tb-supermassive m-container-small">
    <div class="container">
        <div action="#" method="POST" class="ui secondary segment form">
            <div class="inline fields">
                <div class="field">
                    <input type="text" placeholder="标题" name="title">
                </div>
                <div class="field">
                    <div class="ui labeled action input">
                        <div class="ui type selection dropdown">
                            <input type="hidden" name="typeid">
                            <!-- 暂存选中的下拉框的值的一个元素 -->
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div class="item" data-value="1" th:each="type :${types}" th:data-value="${type.tid}"
                                     th:text="${type.tname}">错误日志
                                </div>
                                <!--                            <div class="item" data-value="2">开发者手册</div>-->
                            </div>
                        </div>
                        <button class="ui compact button" id="clear-btn">clear</button>
                    </div>
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        <input type="checkbox" name="recommend" id="recommend">
                        <label for="recommend">推荐</label>
                    </div>
                </div>
                <div class="field">
                    <button class="ui button teal basic mini icon" type="button" id="search">
                        <i class="search icon"></i>搜索
                    </button>
                </div>
            </div>
        </div>
        <div id="table-container">
            <table class="ui compact teal table" th:fragment="blogList">
                <thead>
                <tr>
                    <th></th>
                    <th>标题</th>
                    <th>类型</th>
                    <th>推荐</th>
                    <th>状态</th>
                    <th>更新时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="content">
                <tr th:each="blogs,iterStat : ${page.getResults()}">
                    <td th:text="${iterStat.count}"></td>
                    <td th:text="${blogs.title}"></td>
                    <td th:text="${blogs.tType.tname}"></td>
                    <td th:text="${blogs.recommend==1} ? '是':'否'"></td>
                    <td th:text="${blogs.publish} ? '发布': '草稿'">草稿</td>
                    <td th:text="${#dates.format(blogs.updatetime,'yyyy-MM-dd HH:mm:ss SSS')}"></td>
<!--                    blogs.updatetime-->
                    <td>
                        <a th:href="@{/admin/blogs/{id}/input(id=${blogs.bid})}"
                           class="ui mini teal button basic">编辑</a>
                        <a th:href="@{/admin/blogs/{id}/delete(id=${blogs.bid})}"
                           class="ui mini red button basic">删除</a>
                    </td>
                </tr>

                </tbody>
                <tfoot>
                <tr>
                    <th colspan="7">
                        <div class="ui mini pagination menu" id="parent" th:if="${page.totalPages}>1">
                            <a class="item" onclick="page(this)" th:attr="data-page=${page.num}-1"
                               th:unless="${page.isFirst()}">上一页</a>
                            <a class="item" onclick="page(this)" th:attr="data-page=${page.num}+1"
                               th:unless="${page.isLast()}">下一页</a>
                        </div>
                        <a href="#" th:href="@{/admin/blogs/input}"
                           class="ui teal right floated button mini basic">新增</a>
                    </th>
                </tr>
                </tfoot>
            </table>
            <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                <i class="close icon"></i>
                <div class="header">提示:</div>
                <div th:text="${message}"></div>
            </div>
        </div>
    </div>
</div>
<!-- 底部内容栏footer部分 -->
<footer class="ui inverted vertical segment m-padding-tb-massive" th:replace="~{admin/_fragment :: footerBar}">
    <div class="ui center aligned  container">
        <div class="ui divided stackable inverted grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../../static/img/myWeChat.png" class="ui rounded image" alt="" style="width: 110px;">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">最新博客</h4>
                <!-- 上面是这个列表的标题 -->
                <div class="ui inverted link list">
                    <a href="" class="item">用户故事（User Story）</a>
                    <a href="" class="item">用户故事（User Story）</a>
                    <a href="" class="item">用户故事（User Story）</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header">联系我</h4>
                <!-- 上面是这个列表的标题 -->
                <div class="ui inverted link list">
                    <a href="" class="item">Email:3315282092@qq.com</a>
                    <a href="" class="item">QQ:3315282092</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，会分享关于编程，写作，记录心路旅程的任何内容，希望可以给来到这儿的人有所帮助</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright©2020-2023 Zongyuheng Designed by Zongyuheng</p>
    </div>
    <!-- 这块的container指的是整块的footer的区域 container的外层区域是圈出这块区域，想要布局就需要用到container-->
</footer>
<th:block th:replace="~{admin/_fragment :: script}">

</th:block>
<script>
    $('.menu.toggle').click(function () {
        $('.a-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
        on: 'hover'
    })

    function page(obj) {
        //这里是在取隐藏域,然后给隐藏域赋值，将data—page中的值赋值过来，因为data——page中使用到了thymeleaf模板中的语法 所以需要加上th-attr
        $("[name='currentPage']").val($(obj).data("page"))
        loaddata()
    }

    $('#search').click(function () {
        $("[name='currentPage']").val(1)
        loaddata();
    })

    function loaddata() {
        $(function () {
            $("#table-container").load("/admin/blogs/search", {
                title: $("[name='title']").val(),
                typeid: $("[name='typeid']").val(),
                recommend: $("[name='recommend']").prop('checked') == true ? 1 : null,
                page: $("[name='currentPage']").val()
            })
        })
    }

    $('.message .close')
        .click(function () {
            $(this).closest('.message')
                .transition('fade');
        });
    $('#clear-btn')
    .on('click',function () {
$(' .ui.type.dropdown')
        .dropdown('clear');
    })
</script>
</body>

</html>